.module_round_box-black2 h3.s5_mod_h3, .module_round_box-blackfull h3.s5_mod_h3  {
background:#323232 !important;}

.module_round_box-black2 span.s5_h3_first {
   height:33px; padding: 5px!important; margin-bottom:-8px;}